html {
    visibility: hidden;
}

.homeButton {
    height: 57px; width: 236px;
    background-size: 236px 57px;
    border: none;
    background-color: inherit;
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/HomeButton.png")
}

.settingsButton {
    margin-top: 25px;
    height: 57px; width: 150px;
    background-size: 150px 57px;
    border: none;
    border-radius: 10px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/SettingsButton.png");
    cursor: pointer;
    background-color: black;
    opacity: 100%;
}

.customDiscordBanner {
    height: 150px; width: 287px;
    background-size: 287px 150px;
    background-color: inherit;
    cursor: pointer;
    z-index: 2;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ipLookupButton {
    cursor: pointer;
    padding: 6px;
    border-radius: .5em;
    font-size: .9em;
    background: #409ffe;
    background-image: -o-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -moz-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#80c0ff),to(#017ffe));
    background-image: -webkit-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -ms-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: linear-gradient(top,#80c0ff 0,#017ffe 100%);
    color: rgb(255, 255, 255);
    font-weight: 400;

    display: inherit;
    position: inherit;
    z-index: inherit;
    border: inherit;
    margin-right: inherit;
    background-size: inherit;
    height: inherit; width: inherit;
}

.statusItem {
    color: #208ffe;
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-animation: msgfade .25s ease-out forwards;
    animation: msgfade .25s ease-out forwards
}

.statusItem.statusAnswer {
    font-size: .9em;
    font-weight: normal;
}

