
html {
    visibility: hidden;
    background-size: cover !important;
}

#header {
    display: flex;
    align-items: center;
}

#logo {
    padding: 0;
    float: left;
    margin: 25px;
    font-size: 1em;
}

.homeButton {
    padding: 10px;
    height: 57px;
    width: 265px;
    background-size: 265px 57px;
    border: none;
    background-color: inherit;
    /*noinspection CssUnknownTarget*/
    background-image: url("chrome-extension://__MSG_@@extension_id__/public/images/HomeButton.png")
}

.settingsButtonContainer {
    display: flex;
    align-items: center;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


.settingsButton {
    height: 57px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 100%;
}

.customDiscordBanner {
    height: 150px;
    width: 287px;
    background-size: 287px 150px;
    background-color: inherit;
    cursor: pointer;
    z-index: 2;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ipLookupButton {
    cursor: pointer;
    padding: 6px;
    border-radius: .5em;
    font-size: .9em;
    background: #409ffe;
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
    color: rgb(255, 255, 255);
    font-weight: 400;

    display: inherit;
    position: inherit;
    z-index: inherit;
    border: inherit;
    margin-right: inherit;
    background-size: inherit;
    height: inherit;
    width: inherit;
}

#chromegleUserCount {
    font-weight: 200;
    height: 57px;
    width: 150px;
    background-size: 150px 57px;
    margin-left: 20px;
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
    animation: 1000ms ease-out 0s 1 fadein;
    border-radius: 10px;
    float: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#userCountNum {
    text-align: center;
    font-size: 30px;
    margin-bottom: -5px;
    margin-top: -9px;
}

.userCountDesc {
    text-align: center;
    font-size: 12px;
}

.ipUnblockMenuButton {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.ipBlockButton, .ipMapsButton {
    cursor: pointer;
    border-radius: .5em;
    font-size: 15px;
    background: none;
    color: rgba(49, 166, 231, 255);
    border: none;
    text-decoration: none;
}

.ipMapsButton {
    font-size: 15.5px;
}

.clearInterestsButton {
    cursor: pointer;
    border-radius: .5em;
    font-size: 14px;
    background: none;
    margin-top: 1px;
    color: rgba(49, 166, 231, 255);
    border: none;
}

.owner {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 400px;

}

.ipUnblockButton {
    color: red;
    cursor: pointer;
    border-radius: .5em;
    background: none;
    font-weight: bold;
    border: none;
    font-size: .9em;
}

.statusItem {
    color: #208ffe;
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-animation: msgfade .25s ease-out forwards;
    animation: msgfade .25s ease-out forwards
}

.statusItem.statusAnswer {
    font-size: .9em;
    font-weight: normal;
}

.nsfwCoverTextWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    transition-duration: 200ms;

}


/*noinspection CssOverwrittenProperties*/
.noselect, .tableItemLabel, .flagText {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.otherVideoCover {
    -webkit-border-top-left-radius: 0.5em;

}

.selfVideoCover {
    -webkit-border-bottom-left-radius: 0.5em;
    left: 0;
    bottom: 0;
}

#videologo {
    display: none;
}

.videoMuteButton {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 80%;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*noinspection ALL*/
@font-face {
    font-family: nce;
    src: url(chrome-extension://__MSG_@@extension_id__/public/NotoColorEmoji.ttf);
}

.nceFont {
    font-family: nce, sans-serif;
}


.flagText {
    font-size: 16px;
    margin-right: -1px;
}

.pasteButton {
    width: 7em;
    margin-bottom: 0.5em;
    /*
        height: 5.45em;

     */
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}

.pasteButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    float: right;
    width: 7em;
    margin-top: 23px;
    margin-right: 0.5em;
    text-align: center;

}


.pasteButtonTitle {
    font-weight: bold;
}

.pasteButtonWrapper > a {
    flex: 1;
}

#nsfwVideoSpinner {
    display: none;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    border-right: 8px solid transparent;
    border-top: 8px solid #ccc;
    animation: spinner .6s linear infinite;
}

.btnkbshortcut {
    color: red;
}

.ipListTable {
    width: 100%;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
}

.ipListTable td {
    overflow-x: scroll;
}

.ipListTable > tbody tr:nth-child(odd) {
    background: rgb(201, 201, 201);
}

.ipListTable tr {
    background: rgb(224, 224, 224);
    color: rgba(0, 0, 0, .8);
    border: none;
}

.ipListTable th, .ipListTable td {
    padding: 5px;
    border: none;
}

.ipListTableUnblockButton {
    color: inherit;
    border: none;
    background: none;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.disableCheckButton {
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto 25px;
}

code {
    padding: 3px;
    color: white;
    border-radius: 4px;
}

#broadcast {
    z-index: 100 !important;
    pointer-events: none;
    animation: mmfadeIn 500ms cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity;
    transition-duration: 500ms;
    z-index: 5;
    color: white;
    position: fixed;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000510d1;
    padding-top: 10px;
    padding-bottom: 25px;
}

#broadcast > .broadcast-title {
    background: #409ffe;
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);

    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#broadcast > .broadcast-msg {
    max-width: 80vw;
    overflow-wrap: break-word;
    font-size: 35px;
    text-align: center;
}

.chromegle-spoiler {
    filter: blur(3px);
    cursor: pointer;
    transition-duration: 50ms;
    font-weight: inherit;
}

.chromegle-spoiler.show {
    filter: unset;
    color: inherit;
}

button.chromegle-spoiler {
    padding: 0;
    background: none;
    font-family: inherit;
    border: none;
    font-size: inherit;
    color: inherit;
}

button.chromegle-spoiler:active {
    filter: unset;
    color: inherit;
}

span.chromegle-cancel-skip {
    cursor: pointer;
    color: rgba(49,166,231,255);
}

.conversationgreat {
    cursor: pointer;
}

#othervideo.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

#otherVideoBlocker.fullscreen {
    width: 100% !important;
    height: 100% !important;
}

#othervideo, #selfvideo {
    pointer-events: none !important;
}

#selfVideoBlocker {
    cursor: pointer;
}

#otherVideoBlocker, #selfVideoBlocker {
    width: 100%;
    height: 100%;
}

#otherVideoWrapper, #selfVideoWrapper {
    position: absolute;
    left: 0;
}

#otherVideoWrapper {
    top: 0;
}

#selfVideoWrapper {
    bottom: 0;
}

#videoScreenshotButton {
    bottom: 0;
    right: 0;
}

#videoFullscreenButton {
    top: 0;
    right: 0;
}

#videoPopoutButton {
    top: 0;
    left: 0;
    border-radius: 0 !important;
}

#fullscreenSkipButton {
    top: 0;
    left: 0;
}

#videoScreenshotButton, #videoFullscreenButton, #fullscreenSkipButton, #videoPopoutButton {
    width: 8%;
    max-width: 70px;
    height: unset;
    position: absolute;
    cursor: pointer;
    margin: 2%;
}

#videoScreenshotButton:hover, #videoFullscreenButton:hover, #fullscreenSkipButton:hover, #videoPopoutButton:hover {
    filter: brightness(0.9);
}

#videoScreenshotButton:active, #videoFullscreenButton:active, #fullscreenSkipButton:active, #videoPopoutButton:hover {
    filter: brightness(0.75);
}

#spinnerWrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinnerWrapper > #othervideospinner {
    top: unset !important;
    left: unset !important;
}


#sharebuttons, #onlinecount {
    margin-right: 20px !important;
}

#onlinecount {
    font-size: 1.5em;
    color: #9cf;
    right: .333333em;
}

#onlinecount strong {
    font-size: 1.3333333333333333333333em;
    color: #6cb5ff
}

@media(max-width: 1050px) {
    #sharebuttons {
        display: none !important;
    }
}

@media(max-width: 1000px) {
    #onlinecount {
        font-size: 1.25em !important;
    }
}

@media(max-width: 950px) {
    #onlinecount > strong {
        display: inherit;
    }
    #onlinecount {
        text-align: center;
    }
}

@media(max-width: 850px) {
    #onlinecount {
        display: none;
    }
}

#header-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: end;
}

#sharebuttons {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro {
    margin: 1.5em .5em .5em;
    font-size: 15.5px;
}

#videoCoverSubtext {
    display: block;
    font-size: 25px;
}

.modal__overlay {
    z-index: 100;
}

#broadcast-id {
    padding-right: 8px;
    float: right;
    padding-top: 5px;
    font-size: 12px;
}

p.tip-message {
    width: fit-content;
    padding-right: 5px;
}

.chromegle-note {
    cursor: pointer;
}


#abovevideosexybtn {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.statuslog label {
    color: inherit;
}

#logo > canvas {
    display: none;
}

.youmsg > span, .strangermsg > span {
    overflow-wrap: break-word;
}

/*
MOBILE START
 */

html.chromegle-mobile .logbox {
    padding: 5px;
}

html.chromegle-mobile #header {
    display: block !important;
}

html.chromegle-mobile img[src*='/static/bwlogo'],
html.chromegle-mobile #themeSettings,
html.chromegle-mobile .chromegle-not-mobile
{
    display: none;
}

html.chromegle-mobile .modal__overlay {
    overflow-x: scroll;
    display: block;
}

html.chromegle-mobile .logwrapper {
    margin-right: 5px !important;
}


/*
MOBILE END
 */

/*
MODAL FALLBACK START
 */

.modal__overlay {
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.modal__container {
    background-color: #ffffff;

}

.modal__title {
    color: #3b3b3b;
}

.modal__close {
    color: #a7a7a7;
}

.modal__close:hover {
    color: #767676;
}

.modal__content, .modal__btn {
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    background-color: #e6e6e6;
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

.settingsModalCloseButton {
    color: #aaa
}

.settingsModalCloseButton:hover {
    color: #6B6B6B;
}

.settingsCollapsableItem {
    background-color: rgb(224, 224, 224)
}

.tableItemLabel, .tableItemSubLabel {
    color: #424242
}

.editToggleDisabled {
    background: gray;
}

.editToggleDisabled:hover {
    background: dimgray;
}

.editToggleEnabled {
    background-color: forestgreen;
}

.editToggleEnabled:hover {
    background-color: green;
}

.settingsCollapsable:hover, .active {
    transition: font-size 200ms;
}

.editFieldButton, .settingsCollapsable {
    color: white;
}

.settingsCollapsable, .editFieldButtonGray:hover {
    background: linear-gradient(180deg, rgb(206, 205, 222) 0%, rgb(110, 117, 123) 0%, rgb(66, 73, 87) 90%);
}

.settingsCollapsable, .editFieldButtonGray {
    transition: font-size 200ms;
    background: linear-gradient(180deg, rgb(206, 205, 222) 0%, rgb(137, 145, 153) 0%, rgb(79, 88, 104) 90%);
}

.settingsModal {
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 11px 4px #6B6B6B;
    box-shadow: 0 0 11px 4px #6B6B6B;
    border: 1px solid #BBB;
}

/**
MODAL FALLBACK END
 */

.ipModalTools {
    margin-top: 25px;
}

.ipTableControls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#ipPage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px 35px;
    background: #e0e0e0;
    font-size: 13px;
}

#importIpList, #exportIpList {
    margin-right: 5px;
}

#importIpList, #exportIpList, #nextIpPageButton, #previousIpPageButton {
    border: none;
    padding: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
}

#importIpList:hover, #exportIpList:hover, #nextIpPageButton:hover, #previousIpPageButton:hover {
    background: #cecece;
}

#importIpList:active, #exportIpList:active, #nextIpPageButton:active, #previousIpPageButton:active {
    background: #c4c4c4;
}

#previousIpPageButton.disabled, #nextIpPageButton.disabled {
    cursor: not-allowed;
    background: #c4c4c4;
}
