body {
    margin: 0;
    padding: 0;
    background-color: rgba(54,57,63,255);
    object-fit: contain;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
    overflow: hidden;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

#videospinner {
    width: 100px;
    height: 100px;
    top: calc((100vh - 100px) / 2);
    left: calc((100vw - 100px) / 2);
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    border-right: 8px solid transparent;
    border-top: 8px solid #ccc;
    animation: spinner .6s linear infinite;
    overflow: hidden;
    opacity: 0;
}